body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #6a0dad;
    margin-left: 20px;
}

.image-gallery {
    text-align: center;
    margin-bottom: 20px;
}

.image-gallery img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    border: 2px solid #6a0dad;
}

.details {
    margin-top: 30px;
}

.details h2 {
    color: #6a0dad;
    margin-bottom: 10px;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    margin: 40px 0 10px;
}

.demo-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #6a0dad;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background 0.3s;
}

.demo-button:hover {
    background-color: #5a0b9d;
}

.right-align {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.back-button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #5a0b9d;
}

h1 {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
}

.project-description{
    text-align: justify;
}
h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 4px;
    background-color: #6a0dad;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.05);
}

h1:hover::after {
    transform: scaleX(1);
}

@media (max-width: 768px) {
    body{
        font-size: 14px
    }
}
@media (max-width: 376px) {
    body{
        font-size: 12px
    }
}